@import "../styles"

.shrine-container
  position: relative
  height: 100%
  max-width: 690px
  margin:
    left: auto
    right: auto

.shrine-about
  max-height: 45vh

.shrine-info
  padding: 1.0rem

  &-photos, &-access
    margin-bottom: .5rem

.shrine-button
  position: absolute
  bottom: 5vh
  width: 100%
  display: flex

  > button
    margin: auto
